{% extends 'blog/basic.html' %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %}

{% block body %}
<style>
.contact{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-image: linear-gradient(-45deg, #fc7303, #03adfc);
    background-size: 110% 110%;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    margin-top: -10px;


}
.contact .content{
    justify-content: center;
    align-items: center;
}
.contact h2{
    text-align: center;
}
.contact section{
    justify-content: center;
    align-items:center;
    height: 84vh;
    background: #eee;
    padding:2rem;
    width:600px;

}
.contact section form{
    width: 80%;
}

@media screen and (max-width: 40em) {
    .contact{
        width: 100%;
        margin-bottom: 1px;
        height: 100%;
    }
    .contact h2{
        text-align: center;
    }
    .contact section{
        height: 100%;
        width: 350px;
        margin-top: -10px;


    }
    .contact section form{
        font-size: 0.75em;
        padding-left: -10px;
        margin-left: -20px;
    }
}
</style>


<div class="contact">
<h2 class="text-center mt-4 mb-4 p-2 mb-2 bg-success text-white rounded">Contact Us</h2>
    <section class=" container"> 
     <form  class=" col-sm-4"method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </form>
</section>

</div>



<div></div>
<div></div>
<div></div>
<div></div>


{% include 'blog/footer.html' %}
{% endblock %}